{% assign author = site.data.author[page.author] %}
<div class="container-fluid author">
	<div class="row">
		<section class="col-md-10 col-sm-12 author_info">
			<a href="#" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
				<img src="{{ author.img }}" class="author_post" alt="">
			</a>
			
			<div class="col-md-9 col-sm-10 col-lg-9">
				<h3 class="col-md-12"><a href="{{ post.link }}" class="name_author">{{ author.name }}</a></h3>
			</div>

			<div class="col-md-8">
				<p class="col-md-12 col-sm-9 author_descriphtion">{{ author.description }}

					<ul class="col-md-6 social_authors">
						<li>
							<a class="facebook_icon" href="{{ author.facebook }}"></a>
						</li>
						
						<li>
							<a class="twitter_icon" href="{{ author.twitter }}"></a>
						</li>
						
						<li>
							<a class="github_icon" href="{{ author.github }}"></a>
						</li>

						<li>
							<a class="gpluss_icon" href="{{ author.gplus }}"></a>
						</li>
					</ul>
				</p>
			</div>
		</section>
	</div>
</div>