<!-- {% include github.html %} -->
<nav class="nav-main container-fluid">
	<div class="row">
		<div class="col-md-8">
			<li><a class="link_nav_main" href="#">Iniciantes</a></li>
			<li><a class="link_nav_main" href="#">Intermediário</a></li>
			<li><a class="link_nav_main" href="#">Avançado</a></li>
			<li><a class="link_nav_main" href="#">Novidades</a></li>
			<li><a class="link_nav_main" href="#">Projetos</a></li>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<header class="header">
			<h1 class="col-md-8 logo">
				<a href="#"></a>
			</h1>
		</header>
	</div>
</div>