.footer{
	background: $background-footer;
	padding-top: 20px;
}
.link_footer{
	color: $color-link-footer;
	font-size: 16px;
	display: block;
	margin: 10px 6px;
}

.about{
	font-size: 17px;
	margin-top: 10px;
	color: $color-link-footer;
}

.copyright{
	margin: 50px 0;

	span {
		display: block;
		text-align: center;
		color: $color-copyright;
	}
}

@each $social in twitter, github, email {
	.#{$social}_icon {
		width: 50px;
		height: 50px;
		display: block;
		float: left;
		margin-top: 20px;
		border-radius: 100%;
		background: url('../image/#{$social}.png') no-repeat $color-border-author center;
	}
}