.footer{
	background: $background-footer;
	padding-top: 20px;
}

.widget_footer{
	margin-right: 30px;
}

.link_footer{
	color: $color-link-footer;
	font-size: 16px;
}

.about{
	font-size: 17px;
	margin-top: 10px;
	color: $color-link-footer;
}

.copyright{
	margin: 50px 0;

	span {
		display: block;
		text-align: center;
		color: $color-copyright;
	}
}
