.header{
	margin-top: 60px;
}

.logo{
	float: none;
	margin: 20px auto;
	a{
		display: block;
		height: 275px;
		background: url('/assets/image/logo.png') no-repeat center;
	}
}

.header_pages{
	text-align: center;
}