.posts{
	margin: 40px 0;
	padding: 8px;
	height: 100%;
	border-bottom: 1px solid $background-global + 30;
}

.author_post{
	width: 120px;
	height: 120px;
	float: left;
}

.title_post_main{
	font-weight: 900;
	color: $color-title-main;
}

.description_post{
	color: $description-post;
	font-size: 16px;
	line-height: 28px;
	text-align: left;
}

.more{
	color: $color-more;
	text-transform: uppercase;
	font-weight: 900;
}