.posts{
	margin: 40px 0;
	padding: 8px;
}

.author_post{
	width: 120px;
	height: 120px;
	float: left;
}

.title_post_main{
	font-weight: 900;
	color: $color-title-main;
}

.description_post{
	color: $description-post
}

.more{
	color: $color-more;
	text-transform: uppercase;
	font-weight: 900;
}