.main{
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.posts{
	clear: both;
	padding: 8px;
	height: auto;
	overflow: hidden;
	margin: 25px 0;
	border-bottom: 1px solid $background-global + 30;
}

.author_post{
	width: 120px;
	height: 120px;
	margin: 30px auto 0 auto;
	border: 2px solid $color-border-author;
	background: $color-border-author;
	border-radius: 100%;

	@include responsive(handheldToMedium) {
		display: block;
	}

	@include responsive(wide) {
		margin: 50% auto 0 auto;
	}
}

.description_post{
	color: $description-post;
	font-size: 16px;
	line-height: 28px;
	text-align: left;
	margin: 0;

	@include responsive(handheldToMedium) {
		text-align: center;
	}
}

.content_posts{
	margin: 50px auto;
	float: none;
	padding: 5px 20px;
	p{
		font-size: 20px;
		color: #FFF;
		text-align: left;
		line-height: 2;
	}
	h1,h2,h3,h4,h5,h6{
		text-transform: uppercase;
		color: $color-title-post;
		font-weight: bold;
	}
}

.author{
	background: #232323;
	margin: 50px 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.author_info{
	float: none;
	margin: 0 auto;
	
	.author_post{
		@include responsive(wide) {
			margin-top: 25%;
		}
	}

	@include responsive(handheldToMedium) {
		text-align: center;
	}
}

.name_author{
	color: #FC0;
}

.author_descriphtion{
}

.social_authors{
	clear: both;
	a{
		margin-left: 10px;
	}
}

.comments{
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.share{
	float: none;
	margin: 0 auto;

	.title_level{
		text-align: center;
	}
}

.list_icons_share{
	float: none;
	margin: 0 auto;
	li{
		width: 60px;
		float: left;
		overflow: hidden;
		margin-left: 7px;
	}
}

.icon_share{
	margin: 0 5px;
}