.nav_main{
	background: $background-menu-main;
	border-bottom: 1px solid $color-border-menu-main;
	position: fixed;
	width: 100%;
	z-index: 99999;
}
.item_nav_main{
	margin: 0px 8px;
	padding: 5px;
	float: left;
	
	@include responsive(handheldToMedium) {
		min-width: 100%;
		border-bottom: 1px solid #383838;
	}
	@include responsive(wide) {
		margin: 0 18px;
	}
}
.link_nav_main{
	color: $color-link-nav-main;
	text-transform: uppercase;
	font-weight: 900;
	padding: 10px 0;
	display: block;
}
.nav_list{
	@include responsive(handheldToMedium) {
		display: none
	}
}
.nav_icon{
	display: none;
	background: none;
	border: none;
	float: right;
	outline: none;
	margin: 5px;
	b{
		display: block;
		margin: 6px 0;
		background: #F5F5F5;
		border-radius: 5px;
		height: 7px;
		width: 50px;
	}

	@include responsive(handheldToMedium) {
		display: block;
	}
}