.title_widget {
	color: $title-widget;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 900;
}

.center_block{
	float: none;
	margin-left: auto;
	margin-right: auto;
}