.title_widget {
	color: $title-widget;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 900;
}

.title_post_main{
	font-weight: 900;
	color: $color-title-main;
	display: block;
	
	&:hover{
		color: $color-title-main-hover;
	}

	@include responsive(handheldToMedium) {
		padding-top: 15px;
		clear: both;
		font-size: 2.3rem;
		text-align: center;
	}
}

.title_posts{
	@extend .title_level;
	text-transform: none;
	letter-spacing: 0;
	margin: 100px 5px 0 5px;
	font-size: 4.8rem;

	@include responsive(handheldToMedium) {
		font-size: 3.0rem;
	}
}

.title_share{
	@extend .title_posts;
	text-transform: uppercase;
	margin-top: 0;
}

.center_block{
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.title_level{
	text-transform: uppercase;
	font-size: $font-title-level;
	letter-spacing: 5px;
	color: $color-title-page;
	font-weight: 900;
	margin: 20px;
	padding-top: 25px;

	@include responsive(medium) {
		font-size: $font-title-level - 1;
	}

	@include responsive(handheld) {
		font-size: $font-title-level - 2.0;
	}
}

.description_level{
	font-size: 18px;
	color: $color-description-page;
}

.more{
	color: $color-more;
	text-transform: uppercase;
	font-weight: 900;
	display: block;

	&:hover{
		color: $color-more + 30;
	}
}