.title_widget {
	color: $title-widget;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 900;
}

.center_block{
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.title_level{
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: 5px;
	color: $color-title-page;
	font-weight: 900;
}

.description_level{
	font-size: 18px;
	color: $color-description-page;
}