//----------------------------------*\
// VARIÁVEIS GLOBAL
//----------------------------------*/
$font-default: 'Lato';
$color-default: #DDDDC5;
$background-global: #333;

//----------------------------------*\
// VARIÁVEIS MENU MAIN
//----------------------------------*/
$color-border-menu-main: rgb(88, 86, 86);
$color-link-nav-main: #FC0;
$background-menu-main: #212121;

//----------------------------------*\
// VARIÁVEIS POST
//----------------------------------*/
$color-title-main: #DDDDC5;
$description-post: #AAA;
$color-more: $color-link-nav-main;
$color-border-author: #FCF8E3;

//----------------------------------*\
// VARIÁVEIS FOOTER
//----------------------------------*/
$background-footer: #3E3E3E;
$title-widget: #FC0;
$color-link-footer: #FFF;
$color-copyright: $description-post;


$color-title-page: $color-link-nav-main;
$color-description-page: #FFF;