//----------------------------------*\
// VARIÁVEIS GLOBAL
//----------------------------------*/
$font-default: 'Lato';
$color-default: #DDDDC5;
$background-global: #333;

//----------------------------------*\
// VARIÁVEIS MENU MAIN
//----------------------------------*/
$color-border-menu-main: rgb(88, 86, 86);
$color-link-nav-main: #FC0;
$background-menu-main: #212121;
$color-hover-link: #FFF;

//----------------------------------*\
// VARIÁVEIS POST
//----------------------------------*/
$color-title-main: #DDDDC5;
$color-title-main-hover: #FFF;
$description-post: #AAA;
$color-more: #FC0;
$color-border-author: #FCF8E3;
$color-title-post: #FC0;
$color-text-external: #CFCFCF;

//----------------------------------*\
// VARIÁVEIS FOOTER
//----------------------------------*/
$background-footer: #3E3E3E;
$title-widget: #FC0;
$color-link-footer: #FFF;
$color-copyright: $description-post;
$copyright-link: $title-widget;

//----------------------------------*\
// VARIÁVEIS PÁGINAS EXTERNA
//----------------------------------*/
$color-title-page: #FC0;
$color-description-page: #FFF;

//----------------------------------*\
// VARIÁVEIS CATEGORIAS
//----------------------------------*/
$font-title-level: 4.8rem;