//----------------------------------*\
// VARIÁVEIS GLOBAL
//----------------------------------*/
$font-default: 'Lato';
$background-body: #333;

//----------------------------------*\
// VARIÁVEIS MENU MAIN
//----------------------------------*/
$color-border-menu-main: rgb(88, 86, 86);
$color-link-nav-main: #FC0;
$background-menu-main: #212121;



