<nav class="nav_main">
	<div class="container">
		<div class="row">
			<button id="nav_icon" class="nav_icon">
				<b></b>
				<b></b>
				<b></b>
			</button>
			
			<div class="col-md-9 center_block">
				<ul class="nav_list">
					<li class="item_nav_main">
						<a class="link_nav_main" href="/">Início</a>
					</li>
					
					<li class="item_nav_main">
						<a class="link_nav_main" href="{{ site.baseurl }}/beginner.html">Beginner</a>
					</li>

					<li class="item_nav_main">
						<a class="link_nav_main" href="{{ site.baseurl }}/intermediate.html">Intermediate</a>
					</li>
					
					<li class="item_nav_main">
						<a class="link_nav_main" href="{{ site.baseurl }}/advanced.html">Advanced</a>
					</li>
					
					<li class="item_nav_main">
						<a class="link_nav_main" href="{{ site.baseurl }}/news.html">News</a>
					</li>
					
					<li class="item_nav_main">
						<a class="link_nav_main" href="{{ site.baseurl }}/projects.html">Projects</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>