---
layout: default
---
<div class="container">
  <div class="row">
    <div class="post">
      <header class="header_pages">
        <h2 class="title_posts">{{ page.title }}</h2>
      </header>
      <div class="col-md-10 content_posts">
        {{ content }}
        
        <div class="info_post col-md-12">
            <div class="row">
              <span>{{ page.date | date: '%B, %Y' }} ~ </span>
              <span>
                <a href="#">{{ page.author }}</a> ~ </a>
              </span>
              <span>
                <a href="{{ site.baseurl }}/{{ page.categories }}.html">{{ page.categories }}</a>
              </span>  
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include modules/share.html %}
{% include modules/author.html %}
{% include vendor/comments.html %}